/****************************************************************************/
/*** DATAGRID INTEGRATION/STYLING FUNCTION ********************************************************/
/****************************************************************************/


text()
	font-family: 'Open Sans', sans-serif;


datagridStyles(n)
	.dataGrid
		.datetimepickerHolder
			-webkit-text-stroke-color rgba(n,.6)
		&>div.tbody
			button.checkbox
				checkboxFlatStyle(n)
			&>div.tr>div.td , &>div.tr.odd>div.td
				//Row line seperator color
				border-bottom 1px solid darken(n,20%)
				//Cel hovering
				&.editable:hover
					background-color darken(n,50%)
			//Alternate colouring
			div.tr //even color
				background-color n
			div.tr.odd //odd color
				background-color darken(n,5%)
			div.tr.active , div.tr.active:hover //selected row color
				background-color darken(n,50%)
			//Row hovering
			div.tr:hover , div.tr.odd:hover
				background-color darken(n,20%)
			//Text antialias
			div.tr div.td *
				-webkit-text-stroke-width 0.5px
				-webkit-text-stroke-color rgba(white,.6)
			input[type=text] , textarea
				&::-webkit-input-placeholder
					color lighten(n,20%)
					-webkit-text-stroke-width 0.5px
					-webkit-text-stroke-color rgba(white,.6)

			//Failed status
			div.tr.status-Failed
				background-color red
				div.td *
					-webkit-text-stroke-color rgba(white,.6)


ui-popup()
	box-shadow 0px 5px 15px -5px rgba(0, 0, 0, 0.506)
	background #FFFFFF
	border-bottom 1px solid #BBBBBB
	border-left 1px solid #CCCCCC
	border-right 1px solid #CCCCCC
	border-top 1px solid #CCCCCC
	color #333333
	font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif
/****************************************************************************/
/*** DATAGRID STYLES ********************************************************/
/****************************************************************************/
$rowHeight = 50px
$flatgridTheme = orange
$borderColor = grey

.dataGridContainer
	display flex
	position relative
	width 100%
	height 100%
	flex-direction column

	.scrollItems
		flex 1
		position relative
		&.scrollbar
			overflow-y auto

	.dataGrid
		width 100%

		&.selectableRows
			div.tr
				&,*
					cursor pointer !important
		button
			border none
			outline 0

		//Font aliasing
		label , .icon
			-webkit-text-stroke-width 0.1px
			-webkit-text-stroke-color rgba(white,.6)

		input[type=text] , textarea
			-webkit-text-stroke-width 0.1px
			-webkit-text-stroke-color rgba(black,0.4)


		div.td,div.th
			display inline-block
			vertical-align top
			flex 1
		div.tr
			display flex
			height 50px

		div.th, div.td , input[type=text] , textarea
			font-size 16px
			box()
			padding-left 0
			height $rowHeight
			line-height $rowHeight

		//Col Widths
		div.td , div.th
			width auto
			&.coltype-checkbox , &.coltype-toggler
				padding-left 0px
				width 55px
				flex none
				text-align center

			&.coltype-datetime
				min-width 169px
			&.coltype-status
				padding-left 0px
				width 40px
				flex none
				text-align center
				border-top 1px solid white !important
				border-bottom 1px solid white !important
				background-color white !important
				box()
				.changeStatus
					background-color #f7f7f7
					height $rowHeight
					line-height 45px
					text-align center

			&.controls
				width 173px
				flex none

		.center
			text-align center
			padding-left 0

	/****************************************************************************/
	/*** THEAD ******************************************************************/
	/****************************************************************************/
	.dataGrid header
		div.th
			//@extend .smallWhiteIcon
			a
			margin-left -19px
			a:first-child
				margin-left -7px
			&, a
				text()
			font-size 12px
			color black
			line-height 16px
			padding-left 7px

		//Form
		div.tr.post
			$formHeight = 50px
			.postElement
				&,*
					cursor pointer
					color black
					-webkit-text-stroke-width 0.7px
					-webkit-text-stroke-color rgba(black,0.7)

			div.td>input[type=text] , textarea
				padding-left 15px

			div.td>input[type=text] , .postElement
				line-height $formHeight

			textarea
				line-height 21px
				&:focus
					position absolute
					top 0
					width 750px
					height 100px

			div.td>input[type=text] , textarea , .postElement
				height $formHeight
				width 100%
				outline 0
				border 1px dotted $borderColor
				text()
				box()
				vertical-align top
				&:focus , &:hover
					border 1px solid black
			&>div.td
				background-color transparent !important
				border-right 1px solid $borderColor
			div.td.controls
				vertical-align top
				.loading.go
					loading()
				span.loading
					background-color $flatgridTheme

				.icon.icon-plus
					text-align center
					display block
					height $formHeight
					line-height $formHeight
					background-color $flatgridTheme
					opacity 1
					color #dfdfdf
					font-size 23px
					width 100%
					&:hover
						background-color lighten($flatgridTheme,20%)

			div.td.coltype-status
				background-color white !important
				border-right none

			background-color lighten($borderColor,90%)
			div.td:nth-last-child(2)
				border-right 0px none transparent

		div.tr.post , div.tr.editing
			div.td.controls
				border-right 0px none transparent

	/****************************************************************************/
	/*** TBODY ******************************************************************/
	/****************************************************************************/
	.dataGrid div.tbody
		div.td
			border-right 1px solid white
			height $rowHeight
			max-height $rowHeight
			overflow hidden
			box()
			border-right 0 none transparent
		&>div.tr:last-child
			border-bottom 0 none transparent

		div.tr.running
			pointer-events none

		span.checkbox //checkbox in non edit mode
			background none
			border 0 !important
			line-height $rowHeight
			height $rowHeight
			width 100%
			box()

		//Edit Mode
		.editing
			input[type=text] , textarea
				&:focus
					cursor text
					border 1px solid black
					background-color white
					color black

		//Default mode
		div.td>label
			cursor default
			text()
			font-size 13px
			color white
			text-indent 15px
			height $rowHeight
			box()
			line-height $rowHeight
			width 100%
			margin 0
			vertical-align middle
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			display block
			text-align left

		input[type=text] , textarea
			//transition background-color 0.2s
			cursor pointer
			background-color transparent
			border 1px solid transparent
			text()
			outline 0
			color white
			text-indent 15px
			width 100%
			margin 0
			vertical-align middle
			height $rowHeight
			box()
			&:disabled
				opacity 0.3
				pointer-events none

		//Controls
		div.tr div.td.controls
			button
				background-color transparent
				&:hover
					background-color $flatgridTheme
			position relative
			padding-left 0
			text-align center
			line-height 0
			font-size 0
			white-space nowrap
			.loading.go
				loading()
			span.loading
				background-color $flatgridTheme
				position absolute
				display inline-block
				right 0
				opacity 0.6
				width 100%

			.running
				color white
				font-size 15px
				display block
				text-align center
				line-height $rowHeight
				animation-name blinker
				background-color red
				animation-duration 1s
				animation-timing-function linear
				animation-iteration-count infinite
			.icon
				opacity 0.6
				&:hover
					opacity 1
				color white

				&.icon-ok
					background-color #008000
					float left
				&.icon-wrong
					background-color red
				&.icon-plus , &.icon-ok , &.icon-wrong , &.icon-close
					margin-left 0
					font-size 20px
					box()
					height $rowHeight+1px
					width 50%
					height $rowHeight
					font-size 23px
					display block
				&.icon-close
					width 100%
					display block
					position relative
	/****************************************************************************/
	/*** DATETIMEPICKER *********************************************************/
	/****************************************************************************/
	.dataGrid
		.datetimepickerHolder
			height $rowHeight
			font-size 15px
			-webkit-text-stroke-width 0.5px
			cursor default
			text-align left
			&.editable
				&,*
					cursor pointer
			.datetimepicker //hidden field
				width 0 !important
				border none !important
				outline 0 !important
				margin 0 !important
			color white

			date,time
				display inline-block
				vertical-align top

			date
				text-indent 9px
				.icon
					font-size 12px
					margin-right 7px
					vertical-align baseline
			time
				.icon
					font-size 19px
					vertical-align sub

	/****************************************************************************/
	/*** PLANNER ****************************************************************/
	/****************************************************************************/
	.planner_plugin
		position absolute
		z-index 9999
		margin-top -73px
		background-color #ffffff
		ui-popup()
		display none
		&.planner_top
			margin-top -223px
		.col
			float left
			background #F5F5F5
			border 1px solid #DDDDDD
			color #666666
			width 101px
			input , label
				vertical-align middle

			&>div
				border-bottom 1px solid #DDDDDD
				&,*
					cursor pointer
				&:hover
					background-color white
			&.freq
				font-size 13px
				color black
				line-height 37px
				&>div
					&, label
						height 41px
						line-height 41px
					label
						display inline-block
						position relative
						width 101px
						margin-top -83px
						text-indent 25px
			&.days
				&.disabled
					opacity 0.3
					&, *
						cursor default
				line-height 22px
				font-size 11px
				background lighten(#F5F5F5,35%)

				&>div
					&, label
						height 23px
						line-height 23px
					label
						display inline-block
						position relative
						width 101px
						text-indent 22px
						margin-top -43px



	/****************************************************************************/
	/*** SEARCH ****************************************************************/
	/****************************************************************************/

	.gridTools
		height 42px
	#search
		display inline-block
		margin-left 36px
		position absolute
		bottom 5px
		z-index 1000

		input
			width 200px
			vertical-align top
			height 30px
			line-height 30px
			text()
			outline 0
			border-radius 20px
			text-indent 32px
			border 1px solid $borderColor
			cursor pointer
			&:focus
				cursor text
			&:hover , &:focus
				border 1px solid black

		.icon-search
			width 22px
			height 34px
			display inline-block
			line-height 35px
			position absolute
			font-size 21px
			margin-left 9px

	/****************************************************************************/
	/*** ACTION DROPDOWN ********************************************************/
	/****************************************************************************/
	.actiondropdownHolder
		display flex
		.themeButton
			font-size 15px
			color white
			-webkit-text-stroke-color #fff !important
			width 80px
			text()
			margin-top 8px
			height 35px
			line-height 35px
			.icon
				font-size 18px
		.icon-sort
			color white
			height 50px
			line-height 50px
			pointer-events none
			margin-left -18px
			position absolute
		select:focus+.icon-sort
			color black
		select
			flex 1
			outline 0
			border none
			margin 0
			flex 1
			height 50px
			color white
			text()
			font-size 13px
			text-indent 10px
			vertical-align middle
			cursor pointer
			background-color transparent
			appearance none
			text-overflow ""
			&:focus
				background-color white
				color black

	//Animations
	@keyframes arrow
		0%
			background-position 100px 0
		50%
			background-position 100px 20px
		100%
			background-position 100px 0

	@keyframes blinker
		0%
			opacity 0
		50%
			opacity 1
		100%
			opacity 0


	//DEFAULT STYLES
	datagridStyles(#589890)